* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Courier New", Courier, monospace;
    background-color: #000000;
    color: #cfcfcf;
    padding: 40px;
    line-height: 1.6;
}

.container {
    max-width: 100vw;
    max-height: 100vh;
    margin: auto;
}

.title-section {
    padding-top: 40px;
    margin-bottom: 0px;
}

.title-section h1 {
    font-size: 7rem;
    font-weight: normal;
}

.subtitle-section {
    padding-top: 0px;
    margin-bottom: 200px;
    text-align: left;
    font-size: 2rem;
}

.category-1 {
    padding-top: 0px;
    margin-bottom: 100px;
    margin-left: 200px;
    text-align: left;
    font-size: 2rem;
}

.category-2 {
    padding-top: 0px;
    margin-bottom: 100px;
    margin-right: 200px;
    text-align: right;
    font-size: 2rem;
}

a {
  color: white;          /* makes the link text white */
  text-decoration: none; /* removes the underline */
}